<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Mitra</title>
</head>
<body>
    <h1>Update Mitra </h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Nama Mitra</th>
                <td>
                    <input required type="text" name="nama_mitra" value="{{ mitraobj.nama_mitra}}">
                </td>
            </tr>
            <tr>
                <th>Alamat Mitra</th>
                <td>
                    <input required type="text" name="alamat_mitra" value="{{mitraobj.alamat_mitra}}" >
                </td>
            </tr>
            <tr>
                <th>Nomor Mitra</th>
                <td>

                    <input required type="number" name="nomor_mitra" value="{{mitraobj.nomor_mitra}}">
                </td>
            </tr>
            <tr>
                <th>Tanggal Mulai</th>
                <td>

                    <input required type="date" name="tanggal_mulai_mitra" value="{{mitraobj.tanggal_mulai_mitra}}">
                </td>
            </tr>
            <tr>
                <th>Durasi Kontrak</th>
                <td>
                    <input required type="text" name="durasi_kontrak" value="{{mitraobj.durasi_kontrak}}">
                </td>
            </tr>
            <tr>
                <th>Luas Lahan</th>
                <td>
                    <input required type="text" name="luas_lahan" value="{{mitraobj.luas_lahan}}">
                </td>
            </tr>
            </table>
            <button type="submit" >Update</button>
    </form>
</body>
</html>